@media screen and (max-width: 1024px) {
  #main-header {
    height: 400px; }
    #main-header #navbar {
      display: block;
      width: 90%; }
      #main-header #navbar .hamburger {
        display: block;
        float: right; }
        #main-header #navbar .hamburger i {
          line-height: 68px;
          font-size: 2.2rem;
          color: #fff; }
      #main-header #navbar ul#main-menu {
        position: fixed;
        top: 0;
        right: -182px;
        float: none;
        width: 180px;
        height: 100%;
        background-color: #282828;
        z-index: 10;
        box-shadow: -2px 0 2px rgba(0, 0, 0, 0.5); }
        #main-header #navbar ul#main-menu li {
          display: block; }
          #main-header #navbar ul#main-menu li a {
            text-decoration: none;
            color: #fff;
            padding: 22px 180px 22px 10px;
            margin: 15px 0;
            font-size: 2rem;
            font-weight: 400; }
            #main-header #navbar ul#main-menu li a:hover {
              background-color: rgba(0, 0, 0, 0.3); }
          #main-header #navbar ul#main-menu li span {
            display: none; }
        #main-header #navbar ul#main-menu li.close-button {
          display: block; }
          #main-header #navbar ul#main-menu li.close-button a {
            padding: 22px 25px 22px 140px; }
            #main-header #navbar ul#main-menu li.close-button a i {
              font-size: 2rem; }
    #main-header .header-intro {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 120px;
      color: #fff; }
      #main-header .header-intro .inner-container h1 {
        display: block;
        font-size: 3rem;
        word-spacing: 0.8rem; }
      #main-header .header-intro .inner-container h2 {
        display: block;
        font-size: 2rem;
        font-weight: 300;
        line-height: 5rem;
        padding-bottom: 15px;
        color: #ccc; }
      #main-header .header-intro .inner-container a {
        display: inline-block;
        text-decoration: none;
        color: #45BC71;
        font-size: 1.4rem;
        padding: 8px 15px;
        border: 2px solid #45BC71;
        border-radius: 3px;
        transition: all 0.2s ease-in-out; }
        #main-header .header-intro .inner-container a:hover {
          color: #fff;
          background-color: #45BC71; }

  #works .works-container {
    width: 95%;
    margin: 0 auto; }
    #works .works-container .works-nav {
      margin: 0 0 0 15%;
      text-align: left;
      box-sizing: content-box; }
      #works .works-container .works-nav li {
        display: block;
        margin-top: 10px;
        padding: 5px; }
        #works .works-container .works-nav li a {
          width: inherit;
          text-decoration: none;
          text-align: right;
          line-height: 20px;
          padding: 15px 25% 15px 10px;
          color: #4A555F;
          background: none;
          font-size: 1.6rem;
          font-weight: 700;
          border-radius: 3px;
          transition: all 150ms ease-in-out; }
          #works .works-container .works-nav li a:hover {
            color: #fff;
            background-color: #49BF73; }
    #works .works-container #showcase {
      width: 70%;
      margin: 25px auto;
      padding: 0 0 70px 0; }
      #works .works-container #showcase .column-1 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        display: block;
        float: none; }
        #works .works-container #showcase .column-1 .illustration {
          margin-bottom: 5%; }
        #works .works-container #showcase .column-1 .app {
          display: none; }
      #works .works-container #showcase .column-2 {
        width: 100%;
        display: inline-block; }
        #works .works-container #showcase .column-2 .logo {
          margin-bottom: 20px; }

  #about {
    height: 350px;
    margin-top: -40px; }
    #about .introduction {
      width: 60%;
      float: right;
      color: #fff;
      padding-left: 30%; }
      #about .introduction .intro-container {
        margin-top: 8%;
        padding-right: 10%; } }
@media screen and (max-width: 975px) {
  #about .introduction {
    width: 100%;
    margin: 0;
    float: left;
    color: #fff;
    padding-left: 15%; }
    #about .introduction .intro-container {
      width: 90%;
      float: left;
      padding-top: 5%;
      padding-right: 30%; }
      #about .introduction .intro-container a {
        color: #fff;
        border: 2px solid #fff; }
        #about .introduction .intro-container a:hover {
          color: #3C4A57;
          background-color: #fff; }

  #contact #contact-form {
    width: 60% !important; }
    #contact #contact-form .contact-info .name-wrap {
      width: 100% !important;
      display: block;
      float: none !important;
      margin-bottom: 20px; }
    #contact #contact-form .contact-info .email-wrap {
      width: 100% !important;
      display: block;
      float: none !important; }

  footer {
    width: 100%;
    background-color: #3D4955; }

  .footer-wrap {
    width: 80%;
    justify-content: center; }
    .footer-wrap .footer-content-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .footer-wrap .footer-content-wrap .copyright {
        display: block;
        float: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 55px;
        text-align: center; }
        .footer-wrap .footer-content-wrap .copyright span {
          font-size: 1.4rem;
          font-weight: 700; }
      .footer-wrap .footer-content-wrap .social {
        float: none !important;
        display: flex !important;
        justify-content: space-around;
        margin: 20px 0; }
        .footer-wrap .footer-content-wrap .social a {
          margin: 0 !important;
          display: inline-block; } }


